/node_modules
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.DS_Store
npm-debug.log
yarn-error.log
